{% if session.logged_in %}
<!-- <nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand" href="#">Preaceptor II</a>
  <div class="navbar navbar-light">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/desk">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/desk">nothing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/about">doesn't work</a>
      </li>
    </ul>

      <ul class="nav navbar-nav navbar-right">
          <li><a href="/auth/logout">Logout</a></li>
      </ul>

  </div>
</nav> -->



  
  {% endif %}
